name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Make Libraries
      run: make
      
    - name: Upload libcapi.so artifact
      uses: actions/upload-artifact@v3
      with:
        name: libcapi-artifact
        path: libcapi.so
